@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/global.variables' as globalVariables;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/spacing.variables' as spacing;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/colours.variables' as colours;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/breakpoints.variables' as breakpoints;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/typography.variables' as typography;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/2-tools/placeholder/focus.placeholders' as placeholders;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/line-heights.variables' as lineheight;
@use '@ongov/ontario-design-system-global-styles/dist/styles/scss/1-variables/font-weights.variables' as fontWeights;

$ontario-search-input-padding: 7.2rem;
$ontario-search-input-padding--mobile: 6.4rem;

.ontario-header {
	position: relative;
	background-color: colours.$ontario-colour-black;
	color: colours.$ontario-colour-white;
	display: flex;
	align-items: center;
	height: 5.75rem;

	.ontario-row {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	svg {
		width: spacing.$spacing-6;
		height: spacing.$spacing-6;
		margin-bottom: spacing.$spacing-0;
	}
}

.ontario-header__logo-container {
	height: globalVariables.$ontario-logo-height;
}

.ontario-header__logo-container a {
	display: inline-block;
	height: 100%;

	&:focus {
		box-shadow: spacing.$spacing-0 spacing.$spacing-0 spacing.$spacing-0 globalVariables.$global-radius colours.$ontario-colour-focus;
	}
}

/* Header search styles */
.ontario-header__search-container {
	position: relative;
	display: none;

	@media screen and (min-width: breakpoints.$medium-breakpoint) {
		display: flex;
	}

	@media screen and (min-width: breakpoints.$small-breakpoint) {
		padding-right: calc(2rem / 2);
	}
}

.ontario-header__search-input.ontario-input {
	border-width: 0;
	margin-bottom: spacing.$spacing-0;
	height: globalVariables.$standard-input-height;
	padding-left: spacing.$spacing-3;
	padding-right: $ontario-search-input-padding;

	&:invalid + input[type='reset'] {
		display: none;
	}

	&:focus {
		& ~ .ontario-header__search-submit {
			background-color: colours.$ontario-colour-link;
			color: colours.$ontario-colour-white;

			&:hover {
				background-color: colours.$ontario-colour-link--hover;
				color: colours.$ontario-colour-white;
			}
		}
	}

	// Remove auto X icon for IE and Edge on input area
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	// Remove red outline around input area on Firefox
	&:invalid:focus {
		box-shadow: 0 0 0 4px colours.$ontario-colour-focus;
		-moz-box-shadow: none;
	}

	&:invalid:not(:focus) {
		box-shadow: none;
		-moz-box-shadow: none;
	}

	@media screen and (min-width: breakpoints.$small-breakpoint) and (max-width: breakpoints.$medium-breakpoint) {
		padding-left: spacing.$spacing-4;
		padding-right: $ontario-search-input-padding--mobile;
	}
}

.ontario-header__search-submit {
	border: 0;
	border-radius: 0 3px 3px 0;
	background-color: colours.$ontario-greyscale-5;
	color: colours.$ontario-colour-black;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Open Sans', sans-serif;
	font-weight: fontWeights.$ontario-font-weights-semi-bold;
	font-size: 1.125rem;
	height: 100%;
	line-height: lineheight.$ontario-line-height-8;

	position: absolute;
	right: spacing.$spacing-4;
	top: spacing.$spacing-0;
	cursor: pointer;

	padding-left: spacing.$spacing-3;
	padding-right: spacing.$spacing-3;

	&:hover {
		background-color: colours.$ontario-colour-link--hover;
		color: colours.$ontario-colour-white;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 globalVariables.$global-radius colours.$ontario-colour-focus;
		background-color: colours.$ontario-colour-link--hover;
		color: colours.$ontario-colour-white;
	}

	&:active {
		background-color: colours.$ontario-colour-link--active;
		color: colours.$ontario-colour-white;
	}

	svg {
		margin-right: spacing.$spacing-0;
	}
}

input[type='reset'].ontario-header__search-reset {
	position: absolute;
	display: flex;
	align-items: center;
	top: 11px;
	right: 80px;
	height: 28px;
	width: 28px;
	color: black;
	margin: spacing.$spacing-0;
	padding: spacing.$spacing-2;

	background-image: url(../icons/ontario-icons-close.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;

	&:focus {
		box-shadow: 0 0 0 globalVariables.$global-radius colours.$ontario-colour-focus;
	}
}

/* Header menu & language toggle & close search button styles */
.ontario-header__nav-right-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* Header buttons */
.ontario-header-button {
	background-color: colours.$ontario-colour-black;
	border: none;
	border-radius: globalVariables.$global-radius;
	box-sizing: border-box;
	box-shadow: none;
	color: colours.$ontario-colour-white;
	cursor: pointer;

	display: flex;
	align-items: center;

	font-size: 1.125rem;
	font-weight: fontWeights.$ontario-font-weights-semi-bold;
	font-family: typography.$ontario-font-open-sans;
	height: globalVariables.$standard-input-height;
	line-height: calc(14 / 9);
	text-align: center;
	text-decoration: none;

	&:focus {
		@extend %ontario-focus;
	}

	&:hover,
	&:focus,
	&:visited {
		color: colours.$ontario-colour-white;
	}
}

.ontario-header-button--with-outline,
.ontario-header-button--without-outline {
	background-color: colours.$ontario-colour-black;
	color: colours.$ontario-colour-white;

	&:hover {
		background-color: colours.$ontario-greyscale-70;
	}

	&:active {
		background-color: colours.$ontario-greyscale-60;
	}
	&:focus {
		background-color: colours.$ontario-greyscale-70;
	}
}

.ontario-header-button--with-outline {
	border: 2px solid colours.$ontario-colour-white;
	margin: spacing.$spacing-0 spacing.$spacing-0 spacing.$spacing-0 spacing.$spacing-4;
	padding: calc(#{spacing.$spacing-3} / 2) spacing.$spacing-4;

	&:hover {
		border: 2px solid colours.$ontario-colour-white;
		color: colours.$ontario-colour-white;
	}

	&:focus {
		background-color: colours.$ontario-greyscale-70;
	}
}

.ontario-header-button--without-outline {
	&:focus {
		background-color: colours.$ontario-greyscale-70;
	}
}

.ontario-header__language-toggler {
	padding: spacing.$spacing-3;

	abbr[title] {
		text-decoration: none;
	}
}
